In [ ]:
#HOUSE PRICE PREDICTION PROJECT

In [4]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'property_data.csv')
data.head()

,BedRooms,Bath rooms,Size_sqft,location,year built,Garage Available,Furnishing,House Condition,Has_Pool,Lot Size,Price($)
0,3.0,1.0,1149,Rural,2004,NaN,Unfurnished,new,0.0,0.15,244043
1,NaN,2.0,1169,Rural,1989,1.0,NaN,Old,0.0,0.23,211250
2,4.0,3.0,1409,Suburban,1993,1.0,Unfurnished,gd,0.0,0.19,257239
3,3.0,3.0,1647,Suburban,2021,0.0,NaN,new,0.0,0.27,310316
4,2.0,3.0,1865,Urban,2009,0.0,furnised,old,1.0,0.39,334791

In [7]:
df = data

In [8]:
df.isnull()# Check for missing values

,BedRooms,Bath rooms,Size_sqft,location,year built,Garage Available,Furnishing,House Condition,Has_Pool,Lot Size,Price($)
0,False,False,False,False,False,True,False,False,False,False,False
1,True,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False
996,False,True,False,False,False,False,True,False,False,False,False
997,False,False,False,False,False,True,False,False,False,False,False
998,True,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,True,False,False,False,False

In [9]:
df.isnull().sum() #count of missing values in each column

 BedRooms            46
Bath rooms           59
Size_sqft             0
location              0
year built            0
Garage Available    104
Furnishing          157
House Condition       0
Has_Pool             55
Lot Size              0
Price($)              0
dtype: int64

In [17]:
df.dropna #Dropping rows with missing values

<bound method DataFrame.dropna of       BedRooms   Bath rooms  Size_sqft   location  year built  \
0           3.0         1.0       1149      Rural        2004
1           NaN         2.0       1169      Rural        1989
2           4.0         3.0       1409   Suburban        1993
3           3.0         3.0       1647   Suburban        2021
4           2.0         3.0       1865      Urban        2009
..          ...         ...        ...        ...         ...
995         1.0         2.0       1274       urbn        2002
996         5.0         NaN       1909  sub-urban        1997
997         2.0         1.0       2335      Urban        1993
998         NaN         1.0        866       urbn        1994
999         3.0         1.0        748   Suburban        1994

     Garage Available      Furnishing House Condition  Has_Pool  Lot Size  \
0                 NaN     Unfurnished             new       0.0      0.15
1                 1.0             NaN             Old       0.0      0.23
2                 1.0     Unfurnished              gd       0.0      0.19
3                 0.0             NaN             new       0.0      0.27
4                 0.0        furnised             old       1.0      0.39
..                ...             ...             ...       ...       ...
995               1.0       Furnished             Old       0.0      0.02
996               0.0             NaN             New       1.0      0.16
997               NaN        furnised             Old       1.0      0.13
998               0.0  Semi furnished             Old       0.0      0.44
999               1.0             NaN             New       0.0      0.27

     Price($)
0      244043
1      211250
2      257239
3      310316
4      334791
..        ...
995    237767
996    363716
997    403535
998    169833
999    151890

[1000 rows x 11 columns]>

In [52]:
df.drop(df[df['House Condition'] == 'old'].index, inplace=True)

KeyError: 'House Condition'

In [22]:
df.info() #Gives a comprehensive overview of the dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 829 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0    BedRooms         790 non-null    float64
 1   Bath rooms        779 non-null    float64
 2   Size_sqft         829 non-null    int64
 3   location          829 non-null    object
 4   year built        829 non-null    int64
 5   Garage Available  740 non-null    float64
 6   Furnishing        705 non-null    object
 7   House Condition   829 non-null    object
 8   Has_Pool          783 non-null    float64
 9   Lot Size          829 non-null    float64
 10  Price($)          829 non-null    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 77.7+ KB

In [ ]:
df = pd.DataFrame({'year built':[2000, 2005, 2010, 2015, ]})
print(df['year built'].dtype)    #checking the data type of year built column

int64

In [26]:
df = pd.DataFrame({'size':[0.15, 0.32, ]})
print(df['size'].dtype)    #checking the data type of size column

float64

In [ ]:
import pandas as pd #Driving the age of the house from the year built,subtract year built from current year
from datetime import datetime

In [ ]:
current_year = datetime.now().year
print(current_year)  # This is the current year

2025

In [ ]:
data['house_age'] = current_year - data['year built']
print(data['house_age'])  #calculating the age of the house usint the year built column and the current age

0      21
1      36
2      32
3       4
5       5
       ..
995    23
996    28
997    32
998    31
999    31
Name: house_age, Length: 829, dtype: int64

In [42]:
#Splitting dataset into training and testing sets
import train_test_split
import pandas as pd

ModuleNotFoundError: No module named 'train_test_split'

In [ ]:
model = data #Model used- Prophet
from prophet import Prophet

c:\Users\Administrator\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.